<div class="fondcontainer-ter fondcontainer col-sm-7 col-centered-md-6 col-centered-lg-6">
   <div class="row justify-content-center">
      <div class="logoquater justify-content-center">
        <%= image_tag "amontourexclamation.png", class: "logo" %>
      </div>
  </div>

        <div class="textebis col-md-12 col-sm-12 col-lg-12 pb-lg-5">
          <h6><b>Les informations qui</b></h6>
          <h6><b>étonnent, éclairent, entraînent</b></h6>
        </div>

 <div class="container-fluid fondcontainerbas col-md-12 col-sm-12 col-lg-12 pb-lg-5">
  <div class="row justify-content-center">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
         <%= f.input :password,
                       required: true,
                       hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                       input_html: { autocomplete: "new-password" } %>
         <%= f.input :password_confirmation,
                       required: true,
                       input_html: { autocomplete: "new-password" } %>
      </div>

      <div class="row justify-content-center">
        <div class="boutonvalider">
          <div class="form-actions">
            <%= f.button :submit, "Valider", class: "bouton2" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
