  <div class="footer">

    <%= link_to newspapers_path do %>
    <%= image_tag "newspaper.png", class: "logobottom" %>
    <% end %>

    <%= link_to newspaper_path(1) do %>
    <%= image_tag "map.png", class: "logobottom" %>
    <% end %>


    <%= link_to library_path(1) do %>
    <%= image_tag "library.png", class: "logobottom" %>
    <% end %>
</div>

