<div class="container-fluid col-sm-6 col-centered-md-6 col-centered-lg-6">
  <div class="row-fluid">
    <div class="titlelibrary">
    <h3><b>Ma bibliothèque</b></h3>
    </div>
        <% @articles.map do |article|  %>
                <% if article.library_ids[0] != @library %>
                 <%= image_tag "library.png", class: "bibliotheque_vide" %>
                 <div class="zero_articles ">
                 <h4> <strong> Pas d'articles sélectionnés - pour le moment ! </strong> </h4>
                 </div>
                <% elsif article.publication > Time.at(33483257427333333) %>
                    <div class="card-trip">
                     <%= cl_image_tag article.photo %>
                      <div class="card-trip-infos">
                        <a href= <%= library_article_path(@library, article) %> >
                          <div>
                            <h2> <%= article.title %> </h2>
                            <h4><%= article.publication %></h4>
                            <h4> <%= article.auteur %></h4>
                            <p> <%= article.summary %></p>
                             <h3><strong> Idée ➔ <%= article.engagement %></strong></h3>
                          </div>
                        </a>
                         <%= cl_image_tag article.media, class: "card-trip-user avatar-bordered" %>
                      </div>
                    </div>
                  <% else %>
                     <div class="card-product">
                     <%= cl_image_tag article.photo %>
                      <div class="card-product-infos">
                        <a href= <%= library_article_path(@library, article) %> >
                         <div>
                            <h2> <%= article.title %> </h2>
                            <p> <%= article.summary %></p>
                         </div>
                        </a>
                      </div>
                    </div>
                  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.js'></script>
                  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.css' rel='stylesheet' />
                <% end %>
        <% end %>
               <div
               id="map"
               style="width: 100%;
               height: 600px;"
               data-markers="<%= @markers.to_json %>"
               data-mapbox-api-key="pk.eyJ1IjoiYWdnb2xmZSIsImEiOiJjazE3dDc3amYxZmlkM2xwM29jZGp2dmNiIn0.dZFTZnFgD91_YL9rarsVlw"
               ></div>
      </div>
  </div>
</div>

