<% @articles.each do |article|  %>
    <div class="card-trip">
     <%= cl_image_tag article.photo %>
      <div class="card-trip-infos">
        <a href= <%= newspaper_article_path(article.newspaper, article) %> >
          <div>
            <h2> <%= article.title %> </h2>
            <p> <%= article.summary %></p>
          </div>
        </a>
         <%= cl_image_tag article.media, class: "card-trip-user avatar-bordered" %>
      </div>
    </div>
<% end %>

<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.css' rel='stylesheet' />

<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="pk.eyJ1IjoiYWdnb2xmZSIsImEiOiJjazE3dDc3amYxZmlkM2xwM29jZGp2dmNiIn0.dZFTZnFgD91_YL9rarsVlw"
></div>

