<div class="fondcontainer-ter col-sm-7 col-centered-md-6 col-centered-lg-6">
  <div class="titlelibrary">
  <h3><b>Archives</b></h3>
<div>
  <div class="row-fluid">
    <% @articles.each do |article|  %>
          <div class="card-product">
           <%= cl_image_tag article.photo, class: "photo" %>
            <div class="card-product-infos">
              <a href= <%= article_path(article) %> >
               <div>
                  <h2> <%= article.title %> </h2>
                  <p> <%= article.summary %></p>
                  <%= cl_image_tag article.media, class: "card-product-media" %>
               </div>
              </a>
            </div>
          </div>
    <% end %>
  </div>

  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.css' rel='stylesheet' />

  <div
    id="map"
    style="width: 100%;
    height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="pk.eyJ1IjoiYWdnb2xmZSIsImEiOiJjazE3dDc3amYxZmlkM2xwM29jZGp2dmNiIn0.dZFTZnFgD91_YL9rarsVlw"
  ></div>
</div>
